<h4 class="display-4 mb-5">Radio Button</h4>
<div class="bg-light p-5">
    <form #myForm="ngForm" (ngSubmit)="onSubmitFun()">
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" name="firstName" ngModel id="firstName" class="form-control" #fname="ngModel">
            <span class="text-danger" *ngIf="fname.invalid && fname.touched">First Name is required</span>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" name="lastName" ngModel id="lastName" class="form-control" #lname="ngModel">
            <span class="text-danger" *ngIf="lname.invalid && lname.touched">First Name is required</span>
        </div>
        <div class="radiowrapper">

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contactVal" id="phoneNum" value="Phone" ngModel>
                <label class="form-check-label" for="phoneNum">Phone</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="contactVal" id="emailId" value="Email" ngModel>
                <label class="form-check-label" for="emailId">Email</label>
            </div>
        </div>


        <div class="form-group mt-3 mb-0" *ngIf="myForm.value.contactVal == 'Phone'">
            <label for="phoneNum">Phone Number</label>
            <input type="text" name="phoneNum" ngModel id="phoneNum" class="form-control" #phone="ngModel">
            <span class="text-danger" *ngIf="phone.invalid && phone.touched">First Name is required</span>
        </div>
        <div class="form-group mt-3 mb-0" *ngIf="myForm.value.contactVal == 'Email'">
            <label for="email">Email Id</label>
            <input type="email" name="email" ngModel id="email" class="form-control" #email="ngModel">
            <span class="text-danger" *ngIf="email.invalid && email.touched">First Name is required</span>
        </div>

        <button class="btn btn-info btn-block mt-5">Submit</button>


    </form>
</div>